# General

NODE_ENV=local

PORT=3000

APP_ENV=local


# Database

DATABASE_URL=postgresql://user:password@host:5432/saas?schema=public

# logger

LOG_LEVEL=info
LOG_FORMAT=pretty

# Swagger

SWAGGER_USER=swagger
SWAGGER_PASSWORD=12345678

# JWT
JWT_ACCESS_SECRET=jwt_secret
JWT_VERIFICATION_TOKEN_SECRET=jwt_token_secret

JWT_ACCESS_EXPIRE=30d
JWT_VERIFICATION_TOKEN_EXPIRE=30m

# Hashing
HASH_SECRET=hash_secret

# Payment Gateway
TAP_PAYMENT_BASE_URL=https://api.tap.company/v2
TAP_PAYMENT_API_KEY=sk_test_XKokBfNWv6FIYuTMg5sLPjhJ
TAP_PAYMENT_WEBHOOK_URL=https://proxy_tunnel/webhooks/tap-charge
TAP_PAYMENT_REDIRECT_URL=http://localhost:3000/v1/billing/after-charge
TAP_MERCHANT_ID=599424

# Seed Admin

ADMIN_SEED_EMAIL=seedadmin@test.com
ADMIN_SEED_PASSWORD=12345678